* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  color: #333;
  background: #fff;
}

.hero-inpsolution {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 15vh;
  color: white;
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-inpsolution {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: white;
}

a {
  margin-left: 0%;
}

.logo-inp{
  height: 100px;
}


.menu-inps {
  display: flex;
  gap: 40px;
  margin-right: 20%;
}

.menu-inps a {
  text-decoration: none;
  color: #666;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.menu-inps a:hover {
  color: #1f775a;
}

.seccion-ia {
  margin-top: 2%;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  background-image: url('../imagenes/fondo-ia.jpg');
  background-color: rgba(0, 0, 0, 0.8); /* Negro con opacidad */
  background-blend-mode: multiply; /* Oscurece la imagen */
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  height: 70vh;
}

  .titulo-ia {
    font-size: 3rem;
    font-weight: 1000;
    margin-bottom: 50px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .contenedor-ia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
  }
  
  .ia-bloque {
    flex: 1 1 400px;
  }

  .img-ia,
  .img-ia-ramon {
    width: auto;
    height: 100px; /* ajusta este valor si hace falta */
    margin-bottom: 25px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .ia-bloque p {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.8;
    color: #fff;
  }
 